# node
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
Thumbs.db

# env
.env

# dados locais
data.json

# artefatos gerados
daemon/

# certificados (se usar https)
*.pem

# artefatos gerados
daemon/

# arquivos temporários
*.log
