GOTO_HOST=127.0.0.1
GOTO_HTTP_PORT=8080
GOTO_HTTPS_PORT=8443
GOTO_DATA_FILE=./data.json
GOTO_FORCE_HTTPS=false

# Optional TLS
# Set both variables to enable HTTPS.
GOTO_TLS_CERT_FILE=
GOTO_TLS_KEY_FILE=
